@import './component/DataTable/Tbl.css';
@import './component/Results/Result.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.section-center {
  max-width: 100%;
  height: 1190px;
  background: #fff;
  border-radius:  0.25rem;
  box-shadow: 0  5px 15px rgba(0, 0, 0 0.1);
  transition: all 0.3s linear;
  padding: 1rem;
}